body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 250px;
    width: 50%;
}
h2 {
    color: #333;
}
.input-group {
    margin-bottom: 15px;
}

.flex{
    display : flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
label {
    display: block;
    font-weight: bold;
    color: #333;

   
}
input[type="number"] {
    width: 30%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}
.button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.button:hover {
    background-color: #0056b3;
}
.output {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
